@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
@{Layout = null;}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GiftAFriend</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/adminLTE/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/adminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/adminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/adminLTE/plugins/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="~/adminLTE/css/adminlte.min.css">
    <link rel="stylesheet" href="~/adminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/adminLTE/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/adminLTE/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/img/floaterIMG.png" alt="VSMS" height="600" width="800">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-info" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item" style="margin-left:10px;">
                    <a class="btn btn-danger"><i class="fas fa-gift"></i> @ViewBag.userTokens pc</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i>Log Out</button>
                    </form>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/img/defaultProfileImg.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a class="d-block">@userManager.GetUserName(User).Split("@")[0]</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="/Users/MyWallet" class="nav-link">
                                <i class="nav-icon fas fa-wallet"></i>
                                <p>Wallet</p>
                                <span id="wallet" class="badge badge-info right">!</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Gifts/Send" class="nav-link">
                                <i class="nav-icon fas fa-hand-holding-heart"></i>
                                <p>Send a gift</p>
                                <span class="badge badge-info right">!</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Users/MySettings" class="nav-link">
                                <i class="nav-icon fas fa-cog"></i>
                                <p>Account settings</p>
                                <span id="accountSettings" class="badge badge-info right">!</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <span class="badge badge-info right">!</span>
                                <p>
                                    Friends
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Users/MyFriends" class="nav-link">
                                        <i class="fas fa-address-book"></i>
                                        <p>My Friends</p>
                                        <span class="badge badge-info right">!</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Users/List" class="nav-link">
                                        <i class="fas fa-search-location"></i>
                                        <p>Find Friends</p>
                                        <span class="badge badge-info right">!</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @if(User.IsInRole("Admin"))
                        {
                        <li class="nav-header">Admin panel</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <span class="badge badge-info right">!</span>
                                <p>
                                    Users
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Users/AdmUsersList" class="nav-link">
                                        <i class="fas fa-list-ol"></i>
                                        <p>Users list</p>
                                        <span class="badge badge-info right">!</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Users/Create" class="nav-link">
                                        <i class="fas fa-plus"></i>
                                        <p>Create user</p>
                                        <span class="badge badge-info right">!</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Users/ResetRequests" class="nav-link">
                                        <i class="fas fa-redo"></i>
                                        <p>Requests</p>
                                        <span class="badge badge-info right">!</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Users/AllTransactions" class="nav-link">
                                <i class="nav-icon fas fa-luggage-cart"></i>
                                <p>Transactions</p>
                                <span class="badge badge-info right">!</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Contacts/CompanyMail" class="nav-link">
                                <i class="nav-icon fas fa-mail-bulk"></i>
                                <p>Mail</p>
                                <span class="badge badge-info right">!</span>
                            </a>
                        </li>
                        }
                    </ul>
                </nav>
            </div>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper --

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <script src="~/adminLTE/plugins/jquery/jquery.min.js"></script>
    <script src="~/adminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/adminLTE/plugins/chart.js/Chart.min.js"></script>
    <script src="~/adminLTE/plugins/sparklines/sparkline.js"></script>
    <script src="~/adminLTE/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/adminLTE/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/adminLTE/plugins/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/adminLTE/plugins/moment/moment.min.js"></script>
    <script src="~/adminLTE/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/adminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/adminLTE/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/adminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/adminLTE/js/adminlte.js"></script>
    <script src="~/js/notificationHandler.js"></script>

    @if(ViewBag.ShowBonusMessage!=null)
    {<script>toastr.info('@((ViewBag.ShowBonusMessage).ToString())')</script>}
    @if (ViewBag.NotificationNodes != null)
    {<script>drawNotifications('@ViewBag.NotificationNodes')</script>}
</body>
</html>
